.jumbotron {
  padding-top: 5rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

#projects {
  background-color: #e9ecef;
}

section {
  padding-top: 5rem;
}

.card > img {
  height: 200px;
}
